# Packages
.cask
elpa

# Configuration
emacs.el
custom.el

# Data
.org-id-locations
.python-environments
abbrev_defs
ac-comphist.dat
auto-save-list
backups
bookmarks
eshell
image-dired
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
recentf
request
savehist
session.*
tramp
url
var

# Misc
*~